---
layout: page
title: Pannell lab
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">ECOLOGY &#38 EVOLUTION <br> OF PLANT SEXUAL SYSTEMS </h1>
          <p class="animated fadeInUp">Welcome to the website of John Pannell's lab! Our group works on plant evolution in the Department of Ecology and Evolution of the University of Lausanne (Switzerland)
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>About Us</h2>
            <p>"There are several groups of plants in which all the species are diœcious, and these exhibit no rudiments in the one sex of the organs proper to the other. About the origin of such plants nothing is known."</p>
          </div>
          <p> This quote by Charles Darwin from his book "The Different Forms Of The Same Species" (1877) is surprisingly still relevant today. It is still not completely clear why dioecy in plants is rare, and why species that are dioecious are so. </p>
          <p> Current projects in the group are addressing questions concerning transitions between sexual systems and their implications for mating, resource allocation, demography and the evolution of the genome and transcriptome, especially sex chromosomes. Some of these are summarised under the project descriptions below. These projects use a combination of theory, wet-lab work, bioinformatics, and fieldwork. See our recent publications for further details of results from these and other projects. </p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/Mannua.png" alt="Img" style="max-width: 80%;">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>WE BELIEVE IN GREAT IDEAS</h2>
      <p>We study different sexual reproductive systems in plants, including hermaphroditism and monoecy, gynodioecy, dioecy and trioecy.</p>
      <p>Several species are being tested. The one we study in greatest depth is the species of the genus <i>Mercurialis</i>, to which we add the genus <i>Leucadendron</i> and the alpine species <i>Anemone alpina</i>.</p>
      <p>Our group is open to collaboration. If you would like to discuss a potential one, please contact us!</p>
      <a class="btn btn-default btn-call-to-action" href="{{ site.baseurl }}/contact" >Contact us!</a>
    </div>
  </div>
</div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Our approach</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-4">
        <div class="service-item">
          <img src="{{ site.baseurl }}/img/icons/icon_experiment.png" alt="" style="max-width: 70%;">
          <h4>EXPERIMENT</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="service-item">
          <img src="{{ site.baseurl }}/img/icons/icon_lab.png" alt="" style="max-width: 70%;">
          <h4>LAB WORK</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="service-item">
          <img src="{{ site.baseurl }}/img/icons/icon_mountain.png" alt="" style="max-width: 70%;">
          <h4>FIELD WORK</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="section-title">
        <h2>Our facilities</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-4">
        <div class="service-item">
          <img src="{{ site.baseurl }}/img/icons/icon_botany.png" alt="" style="max-width: 70%;">
          <h4>PLANT BIOLOGY</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="service-item">
          <img src="{{ site.baseurl }}/img/icons/icon_greenhouse.png" alt="" style="max-width: 70%;">
          <h4>GREENHOUSE</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="service-item">
          <img src="{{ site.baseurl }}/img/icons/icon_computer.png" alt="" style="max-width: 70%;">
          <h4>THEORY</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>We design delightful digital experiences.</h2>
          <p>Read more about what we do and our philosophy of design. Judge for yourself The work and results we’ve achieved for other clients, and meet our highly experienced Team who just love to design.</p>
          <a class="btn btn-default btn-call-to-action" href="{{ site.baseurl }}/contact" >Tell Us Your Story</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
