<style>
  .logo-container {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 20px; /* adjust as needed */
    margin-bottom: 20px; /* adjust as needed */
  }

  .logo-container img {
    width: 150px; /* adjust as needed */
  }
</style>


<!-- footer Start -->

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ site.baseurl }}/">Home</a></li>
            <li><a href="{{ site.baseurl }}/work">Blog</a></li>
            <li><a href="{{ site.baseurl }}/team">Team</a></li>
            <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
            <li><a href="https://www.unil.ch/dee/pannell-group" target="_blank">Group page</a></li>
          </ul>
        </div>
        <p>A group from the <a href="https://www.unil.ch/dee/en/home.html"  target="_blank">Department of Ecology and Evolution</a> of the <a href="https://www.unil.ch/index.html"  target="_blank">University of Lausanne</a></p>
      </div>
    </div>
    <div class="logo-container">
      <img src="path/to/logo.png" alt="Logo">
    </div>
  </div>
</footer>
