<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="{{ site.baseurl }}/contact">Contact us</a></li>
            <li><a href="#">How it works</a></li>
            <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
            <li><a href="#">Terms</a></li>
          </ul>
        </div>
        <p>A group from the <a href="https://www.unil.ch/dee/en/home.html"  target="_blank">Department of Ecology and Evolution</a> at the <a href="https://www.unil.ch/index.html"  target="_blank">University of Lausanne</a></p>
      </div>
    </div>
  </div>
</footer>
