@font-face {
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local(''), url('../fonts/playfair-display.woff2') format('woff2');
}
@font-face {
  font-family: "Merriweather";
  src: local(''), url("../assets/fonts/font/Merriweather-Regular.tff");
}